<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link type="text/css" rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <h1>Zajecia</h1>
    <p>wprowadzenie do node js</p>
    <h3>{{pageTitle}}</h3>
    <h4>{{subsubtitle}}</h4>
    <label for="name">Imię</label>
    <input id="name" type="text" placeholder="Wpisz swoje imie">
    <button>Wyświetl</button>
    <div id="nameInDiv"></div>
    <script src="../js/func.js"></script>
</body>
</html>